*{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0px;
    margin: 0px;
}
body{
    
    width: 100vw;
    height: 100vh;
    background-color: midnightblue;
    color: rgb(10, 10, 10);
}
.Box{
    background-color: #ffffff;
    width: 35%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    position: relative;
    top: 20rem;
    left: 37rem;
    padding: 5rem;
    border: solid black 10px;
    border-radius: 1rem;
}
#heading{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(250, 6, 6);
    font: bold;
}
.result{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font: bold;
}
.score{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font: bold;
}
.btn{
    width: 5rem;
    height: auto;
    padding: .5rem;
    background-color: black;
    color: rgb(247, 231, 231);
    border: solid #e40808 2px;
}

